<ion-content>
  <div class="main-content">
      <div class="upper_div">
        <div class="logo_img" [ngStyle]="{'background-image': 'url(assets/img/logo.png)'}"></div>
      </div>
    <div class="center_div">
      <div class="head_text">
        <ion-label class="{{title_border}}">{{forgot_password}}</ion-label>
      </div>
      <form style="display: contents;" (ngSubmit)="forgotpassword()">
      <div>
        <div [ngStyle]="{'direction': dir}" class="input {{errorEmailUser}}">
          <ion-icon class="icon" name="mail"></ion-icon>
          <ion-input type="text" [(ngModel)]="emailUser" [ngModelOptions]="{standalone: true}" placeholder="{{email_field}}" (ionInput)="checkEmailUser($event)"></ion-input>
        </div>
        <div class="errorMessage" *ngIf="isErrorEmailUser == 0">{{error_message_email_user_name}}</div>
      </div>
      <ion-button (click)="forgotpassword()" shape="round" expand="block" class="submit-btn">{{forgot_password_button}}</ion-button>
      <button style="visibility:hidden" id="submit" ion-button type="submit"></button>
    </form>
      <div class="smallNavButton" expand="block" fill="clear" shape="round" (click)="goToLogin()">
        {{login_button}}
      </div>
    </div>
  </div>
</ion-content>
