<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{tabs_one}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="services">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{tabs_tow}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="requests">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>{{tabs_six}}</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="booking">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{tabs_three}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dues">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>{{tabs_for}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>