<ion-content>
  <div class="largBox">
      <div class="smallBox">
        <div class="divPush">
          <ion-icon name="notifications" class="iconPus"></ion-icon>
        </div>
        <div class="titlePush">
          {{title}}
        </div>
        <div class="bodyPush">
         {{body}}
        </div>
        <div class="buttom" (click)="showPushNot()">
          <ion-button shape="round" expand="block" class="submit-btn-push">{{app_label_174}}</ion-button>
      </div>
      </div>
  </div>
</ion-content>