<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closePage()">
        <ion-icon slot="start" name="close" color="dark" class="closeIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-title">{{account_change_password}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <div class="center_div">
      <form style="display: contents;" (ngSubmit)="changePassword()">
        
        <div>
          <div [ngStyle]="{'direction': dir}" class="input {{errorOldPassword}}">
            <ion-icon class="icon" name="lock-closed-outline"></ion-icon>
            <ion-input type="text" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}" placeholder="{{old_password}}" (ionInput)="checkOldPassword($event)"></ion-input>
          </div>
          <div class="errorMessage" *ngIf="isErrorOldPassword == 0">{{chane_old_password_field}}</div>
        </div>
        <div>
          <div [ngStyle]="{'direction': dir}" class="input {{errorNewPassword}}">
            <ion-icon class="icon" name="lock-closed-outline"></ion-icon>
            <ion-input type="text" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="{{new_password}}" (ionInput)="checkNewPassword($event)"></ion-input>
            <img src="assets/img/6195699.png" style="width: 25px;" (click)="generatePassword()">
          </div>
          <div class="passwordNote">
            <div>{{new_password_note_one}}</div>
            <div>{{new_password_note_tow}}</div>
            <div>{{new_password_note_three}}</div>
            <div>{{new_password_note_for}}</div>
            <div>{{new_password_note_five}}</div>
          </div>
          <div class="errorMessage" *ngIf="isErrorNewPassword == 0">{{chane_new_password_field}}</div>
          <div style="margin: 0px 10px;" *ngIf="passwordStrengthValue!=0">
            <div class="progress-bar-container">
              <div class="progress-bar" [ngStyle]="{'background-color': passwordStrengthClass, 'width': passwordStrengthValuePersent}"></div>
            </div>
          </div>
        </div> 
        <button style="visibility:hidden" id="submit" ion-button type="submit"></button>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer">
      <ion-button (click)="changePassword()" shape="round" expand="block" class="submit-btn">{{chane_password_button}}</ion-button>
  </div>
</ion-footer>
