<ion-content>
  <div class="main-content">
      <div class="upper_div">
        <div class="logo_img" [ngStyle]="{'background-image': 'url(assets/img/logo.png)'}"></div>
      </div>
    <div class="center_div">
      <div class="head_text">
        <ion-label class="{{title_border}}">{{login_title}}</ion-label>
      </div>
      <form style="display: contents;" (ngSubmit)="checkUser()">
      <div>
        <div [ngStyle]="{'direction': dir}" class="input {{errorEmailUser}}">
          <ion-icon class="icon" name="mail"></ion-icon>
          <ion-input type="text" [(ngModel)]="emailUser" [ngModelOptions]="{standalone: true}" placeholder="{{email_field}}" (ionInput)="checkEmailUser($event)"></ion-input>
        </div>
        <div class="errorMessage" *ngIf="isErrorEmailUser == 0">{{error_message_email_user_name}}</div>
      </div>
      <div>
        <div [ngStyle]="{'direction': dir}" class="input {{errorUserPassword}}">
          <ion-icon class="icon" name="lock-closed"></ion-icon>
          <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userPassword" [ngModelOptions]="{standalone: true}" placeholder="{{password_field}}" (ionInput)="checkPassword($event)" ></ion-input>
          <ion-icon slot="end" class="icon" [name]="showPassword ? 'eye' : 'eye-off'" (click)="changeInputType()"> </ion-icon>
        </div>
        <div class="errorMessage" *ngIf="isErrorUserPassword == 0">{{enter_password_field}}</div>
      </div> 
      <ion-button (click)="checkUser()" shape="round" expand="block" class="submit-btn">{{login_button}}</ion-button>
      <button style="visibility:hidden" id="submit" ion-button type="submit"></button>
    </form>
    </div>
    <div class="smallNavButton" expand="block" fill="clear" shape="round" (click)="goToForgotPassword()">
      {{forgot_password}}
    </div>
    <div class="lower_div">
      <div class="line">
        <div class="border"></div>
        <ion-label class="ion-label">{{add_account_or}}</ion-label>
      </div>
      <!-- <div class="login-btn">
        <ion-buttons>
          <ion-button><ion-icon name="logo-apple"></ion-icon></ion-button>
        </ion-buttons>
        <ion-buttons>
          <ion-button> <ion-icon name="logo-facebook"></ion-icon> </ion-button>
        </ion-buttons>
        <ion-buttons>
          <ion-button><ion-icon name="logo-google"></ion-icon> </ion-button>
        </ion-buttons>
      </div> -->
      <ion-button expand="block" fill="clear" shape="round" (click)="goToRegister()">
        {{add_account}}
      </ion-button>
    </div>
  </div>
</ion-content>
