ion-toolbar {
    --ion-toolbar-background-color: transparent;
    --ion-toolbar-text-color: white;
  }
.ion-title{
    padding-inline-start:0px !important;
}
.slide_div {
    width: 100%;
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.slide_img {
    position: absolute;
    top: 0px;
    height: 34vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.name_div {
    padding: 16px 16px 5px 16px;
}
.top_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading_title {
    font-family: 'bold';
    font-size: 20px;
}
//add for dete
.detail_div {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.ionIconInformation {
    padding: 0px 5px;
    font-size: 18px;
}
//for date
.text {
    font-size: 13px;
    color: var(--ion-color-medium);
}
.textData{
    font-size: 11px;
    font-family: 'medium';
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.103);
    padding: 6px;
    color: grey;
    border-radius: 5px;
}
.price {
    font-size: 20px;
    font-family: 'bold';
    color: var(--ion-color-primary);
}
.title_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
}
.title {
    font-size: 16px;
    font-family: 'bold';
}
.description {
    padding: 0px 20px;
}
.btn {
    font-size: 14px;
    color: #ffffff;
}
.divPrice{
    width: 25%; 
    text-align: start;
}
.divTime{
    width: 75%; 
    text-align: end;
}
.divInfo{
    width: 50%; 
    text-align: start;
}