<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closePage()">
        <ion-icon slot="start" name="close" color="dark" class="closeIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-title">{{app_label_108}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div>
      <div class="description">
        <div [innerHTML]="utilityDisclaimer"></div>
      </div>
    </div>
  </div>
</ion-content>
