<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="buildingservices">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{tabs_en_tow}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buildingreservations">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>{{tabs_en_three}}</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="buildinguser">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{tabs_en_sevin}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="buildingregistered">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>{{tabs_en_for}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="duesusers">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>{{tabs_en_six}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>