<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closePage()">
        <ion-icon slot="start" name="close" color="dark" class="closeIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-title">{{app_label_120}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-content">
    <div class="center_div">
      <form style="display: contents;" (ngSubmit)="filterData()">
        <div>
          <div [ngStyle]="{'direction': dir}" class="input">
            <ion-icon class="icon" name="business-outline"></ion-icon>
              <ion-select value="{{building_data_index}}"  toggle-icon="chevron-down-outline" expanded-icon="chevron-up-outline"  (ionChange)="checkBuilding($event)"  label="{{app_label_79}}" placeholder="{{app_label_78}}" mode="ios" interface="popover" class="my-custom-interface">
                <ion-select-option value="-1">{{app_label_78}}</ion-select-option>
                <ion-select-option *ngFor="let items of returnApartmentArray;let i=index" value="{{items.building_id}}">{{items.building_name}}</ion-select-option>
              </ion-select>
          </div>
      </div>
      <div>
        <div [ngStyle]="{'direction': dir}" class="input">
          <ion-icon class="icon" name="storefront-outline"></ion-icon>
            <ion-select value="{{is_sold}}"  toggle-icon="chevron-down-outline" expanded-icon="chevron-up-outline"  (ionChange)="checkApartStatus($event)"  label="{{app_label_121}}" placeholder="{{app_label_78}}" mode="ios" interface="popover" class="my-custom-interface">
              <ion-select-option value=" ">{{all}}</ion-select-option>
              <ion-select-option value="0">{{app_label_122}}</ion-select-option>
              <ion-select-option value="1">{{app_label_123}}</ion-select-option>
            </ion-select>
        </div>
      </div>
        <button style="visibility:hidden" id="submit" ion-button type="submit"></button>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer">
      <ion-button shape="round" expand="block" class="submit-btn" (click)="filterData()">{{app_label_44}}</ion-button>
  </div>
</ion-footer>
