.full-screen-img {
    --background: transparent; /* لإزالة خلفية الافتراضية في ion-content */
  }
  
  img {
    width: 100vw;        /* العرض الكامل للشاشة */
    height: 100vh;       /* الارتفاع الكامل للشاشة */
    object-fit: cover;   /* تغطي الشاشة بالكامل مع الحفاظ على نسب الأبعاد الأصلية */
    margin: 0;           /* إزالة أي هوامش */
    padding: 0;          /* إزالة أي مسافات داخلية */
    display: block;      /* للتأكد من عدم وجود فراغات إضافية */
  }